package $servicePkg;


#foreach($capability in $service.capabilities)
#if($capability.inputs.size() != 0)
import $inputDataPkg#[[.]]#$capability.dataInputClassName;
#end
#end

#foreach($capability in $service.capabilities)
#if($capability.outputs.size() != 0)
import $outputDataPkg#[[.]]#$capability.dataOutputClassName;
#end
#end

public interface $service.interfaceName {

#foreach($capability in $service.capabilities)
    public #if($capability.outputs.size() != 0) $capability.dataOutputClassName #else void #end $capability.name (
    		#if($capability.inputs.size() != 0) 
               $capability.dataInputClassName $capability.dataInputClassName.substring(0,1).toLowerCase()$capability.dataInputClassName.substring(1)
            #end
    );
#end

}
