package $resourcePkg;

import javax.ws.rs.GET;
import javax.ws.rs.POST;
import javax.ws.rs.PUT;
import javax.ws.rs.DELETE;
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.Produces;
import javax.ws.rs.core.Response;

#foreach($capability in $service.capabilities)
#if($capability.outputs.size() != 0)
import $outputDataPkg#[[.]]#$capability.dataOutputClassName;
#end
#end

@Path("$service.interfaceName")
public interface $resourceFileName{

	#foreach($capability in $service.capabilities)
	#if($capability.rest == true)
	#set ($inputString = "")
	#foreach($input in $capability.inputs)
	#set ($inputString = $inputString + "{$input.name}/")
	#end
	

	#if($capability.restGet == true)
	@GET
	#end
	#if($capability.restPost == true)
	@POST
	#end
	#if($capability.restPut == true)
	@PUT
	#end
	#if($capability.restDelete == true)
	@DELETE
	#end
	@Path("/$capability.name/$inputString")
	@Produces({ "text/xml" })
	public 	
	
	#if($capability.outputs.size() > 0)
		#if($capability.serviceState == true)
		Response
		#else
		$capability.dataOutputClassName
		#end
	#else
	void
	#end 
	$capability.name#[[(]]#
	
	#foreach($input in $capability.inputs)
		@PathParam("$input.name") $input.type $input.name
		
		#if($foreach.count < $capability.inputs.size())
		,
		#end
	#end
	);
	#end
	#end
	
}