package $outputDataPkg;

import java.io.Serializable;
import javax.xml.bind.annotation.XmlAccessType;
import javax.xml.bind.annotation.XmlAccessorType;
import javax.xml.bind.annotation.XmlElement;
import javax.xml.bind.annotation.XmlRootElement;
import javax.xml.bind.annotation.XmlType;

@XmlAccessorType(XmlAccessType.FIELD)
@XmlRootElement(name = "$capability.dataOutputClassName")
@XmlType(name = "$capability.dataOutputClassName.substring(0,1).toLowerCase()$capability.dataOutputClassName.substring(1)", propOrder = {
    #foreach($output in $capability.outputs)
    	"$output.name"
    	#if($foreach.count != $capability.outputs.size()) 
            , 
        #end
    #end
})
public class $capability.dataOutputClassName implements Serializable {
	
	private static final long serialVersionUID = 1L;

    	#foreach($output in $capability.outputs)
    		@XmlElement(name = "$output.name")
    		protected $output.type $output.name;
    	#end

		#foreach($output in $capability.outputs)
    		public $output.type get$output.name.substring(0,1).toUpperCase()$output.name.substring(1)()
    		{
    			return $output.name;
    		}
    	#end
    	
    	#foreach($output in $capability.outputs)
    		public void set$output.name.substring(0,1).toUpperCase()$output.name.substring(1)($output.type value)
    		{
    			this.$output.name = value;
    		}
    	#end

}