<?xml version="1.0" encoding="UTF-8"?>
<sy:switchyard xmlns:bean="urn:switchyard-component-bean:config:2.0" xmlns:resteasy="urn:switchyard-component-resteasy:config:2.0" xmlns:sca="http://docs.oasis-open.org/ns/opencsa/sca/200912" xmlns:sy="urn:switchyard-config:switchyard:2.0" name="$artifactId" targetNamespace="urn:$groupId:$artifactId:1.0">
  <sca:composite name="$artifactId" targetNamespace="urn:$groupId:$artifactId:1.0">
    <sca:service name="DownloadContract" promote="DownloadContractBean/DownloadContract">
      <sca:interface.java interface="$servicePkg#[[.]]#$SERVICE_NAME"/>
      <resteasy:binding.rest name="restContract">
        <resteasy:interfaces>$resourcePkg#[[.]]#$RESOURCE_NAME</resteasy:interfaces>
        <resteasy:contextPath>$artifactId/rest</resteasy:contextPath>
      </resteasy:binding.rest>
    </sca:service>
    <sca:component name="DownloadContractBean">
      <bean:implementation.bean class="$servicePkg#[[.]]#$SERVICE_NAME#[[]]#Bean"/>
      <sca:service name="DownloadContract">
        <sca:interface.java interface="$servicePkg#[[.]]#$SERVICE_NAME"/>
      </sca:service>
    </sca:component>
  </sca:composite>
</sy:switchyard>